body{
    background-color: rgb(201, 243, 229);
}

.conteiner{
    color: blue;
    margin-left: 32%;
    font-size: 230%;
}

input{
    color: blue;
    font-size: 80%;
}

h1{
    color: rgb(0, 0, 0);
    margin-left: 39%;
    font-size: 250%;
}

.btn{
    color: black;
    margin-left: 65%;
}
