body{
    background-color: rgb(201, 243, 229);
    display: flex;
}

.conteiner{  
    color: blue;
    margin-top: 10%;
    margin-left: -18%;
    font-size: 230%;
}

input{
    color: blue;
    font-size: 80%;
}

h1{
    color: rgb(0, 0, 0);
    margin-left: 39%;
    font-size: 250%;
}

.btn{
    color: black;
    margin-left: 65%;
}

.card{
    width: 40%;
  margin-left: -105%;
  margin-top: -85%;
  height: 10%;

}